.homeBody {
  /* background-color: darkslategray; */
  background-image: linear-gradient(to bottom, #ffffff, #2ebda38c);
  color: rgb(41, 64, 72);
  height: 1200px; 
  background-image: no-repeat;
}

p {
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

b {
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

@keyframes welcome-header {
  from {
    visibility: hidden;
    opacity: 0%;
  }

  to {
    visibility: visible;
    opacity: 100%;
  }
}

.welcome-header {
  display: flex;
  justify-content: center;
  font-family: "Kavivanar", cursive;
  font-size: 3em;

  animation: welcome-header 3.5s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.jac-subheading {
  line-height: 1.5;
  font-size: 1.1em;
}

.contact-info {
  display: grid;
  justify-content: center;
}
.team-list {
  list-style: none;
  display: grid;
  justify-content: center;
}

#page-image {
  height: 50%;
  width: 75%;
}

.about_details {
  margin: 1rem;
}

.about_name {
  margin: 1 rem;
  list-style-type: none;
  list-style: none;
}

/* about us */
.grid-container-about {
  display: grid;
  grid-template-columns: 43% 57%;
}

.grid-item-bio {
  text-align: center;
  height: 150px;
  margin-bottom: 5%;
  background-color: brown;
}

.grid-item-bio:hover {
  border: cornsilk;
  border-radius: 1px;
}

#grid-item-image {
  display: inline-block;
  max-width: 43%;
  padding-right: 1px;
}

.grid-item-image2 {
  display: inline-block;
  max-width: 43%;
  padding-right: 1px;
}

/* Activities */

/* Activity Generator */
.activity-item__list {
  list-style: none;
  text-align: left;
}

.activity-item {
  list-style: none;
  text-align: left;
}
